* {
  font-family: HelveticaMd, sans-serif;
}

.tituloTexto {
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  margin-left: 17rem;
  margin-bottom: 2rem;
  width: 70%;
}

.texto {
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0px;
  color: #888888;
  width: 70%;
  margin-left: 17rem;
  margin-bottom: 1.5rem;
  opacity: 1;
}

.sectionTexto {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.sectionDivisao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 49%;
}


.sectionDois {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sectionTres {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.linha {
  margin-top: 10px;
  width: 360px;
  border-top: 1px solid #707070;
}

.textoSelecao {
  font-size: 22px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  border: 1px solid #707070;
  background: #FFFFFF;
  border-radius: 4px;
  color: #888888;
  width: 260px;
  height: 39px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.button:hover {
  color: #FFFFFF;
  background-color: black;
}

.divButton {
  width: 100%;
  display: flex;
  justify-content: center;
}